process {

    withName: 'CNVKIT_BATCH' {
        ext.args         = { params.wes ? "--method hybrid --diagram --scatter" : "--method wgs --diagram --scatter" }
        publishDir       = [
            mode: params.publish_dir_mode,
            
            path: { "${params.outdir}/variant_calling/" },
            pattern: "*{bed,cnn,cnr,cns,pdf,png}",
            saveAs: { meta.num_intervals > 1 ? null : "cnvkit/${meta.id}/${it}" }
        ]
    }
}